@import 'base.css';

:root {
    --yrs-primary: #9a2e26;
    --yrs-primary-rgb: 154, 46, 38;
    --yrs-primary-shaded-10: #8b2922;
    --yrs-primary-shaded-20: #7b251e;
}

.pac-container {
    z-index: 10000 !important;
}

/* Remove buttons from input fields with no-spin class */
input[type="number"].no-spin::-webkit-inner-spin-button,
input[type="number"].no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* For Firefox */
input[type="number"].no-spin {
    -moz-appearance: textfield;
}

/* VUE DATEPICKER STYLING */

.dp__main, .dp__menu, .dp__overlay {
    font-family: "Open Sans", sans-serif !important;
}

.dp__theme_light, .dp__theme_dark {
    --dp-primary-color: var(--yrs-primary) !important;
    --dp-primary-disabled-color: var(--yrs-primary-shaded-20) !important;
    --dp-border-color: var(--yrs-primary) !important;
}

.dp__menu, .dp__cell_inner, .dp__action_button {
    border-radius: 0 !important;
}

.yrs-bg-primary {
    background-color: var(--yrs-primary);
}

label {
    font-weight: bold;
}

.form-control {
    border-radius: 0;
}

.form-control:focus {
    border-color: var(--yrs-primary-shaded-20);
    box-shadow: 0 0 0 0.2rem rgba(var(--yrs-primary-rgb), 0.25);
}

.input-group, .input-group-sm, .input-group-text, .form-select {
    border-radius: 0 !important;
}

.form-select:focus {
    border-color: var(--yrs-primary-shaded-20);
    box-shadow: 0 0 0 0.2rem rgba(var(--yrs-primary-rgb), 0.25);
}

.btn {
    border-radius: 0;
}

.btn-primary {
    --bs-btn-bg: var(--yrs-primary);
    --bs-btn-border-color: var(--yrs-primary);
    --bs-btn-color: var(--bs-white);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--yrs-primary-shaded-10);
    --bs-btn-hover-border-color: var(--yrs-primary-shaded-10);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: var(--yrs-primary-shaded-20);
    --bs-btn-active-border-color: var(--yrs-primary-shaded-20);
}

.btn-disabled {
    --bs-btn-bg: var(--yrs-primary);
    --bs-btn-border-color: var(--yrs-primary);
    --bs-btn-color: var(--bs-white);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--yrs-primary-shaded-10);
    --bs-btn-hover-border-color: var(--yrs-primary-shaded-10);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: var(--yrs-primary-shaded-20);
    --bs-btn-active-border-color: var(--yrs-primary-shaded-20);
}

button:disabled {
    background-color: var(--yrs-primary) !important;
    border-color: var(--yrs-primary) !important;
}

.pagination {
    --bs-pagination-bg: var(--yrs-primary);
    --bs-pagination-border-color: var(--yrs-primary);
    --bs-pagination-color: var(--bs-white);
    --bs-pagination-hover-bg: var(--bs-white);
    --bs-pagination-hover-color: var(--yrs-primary);
    --bs-pagination-disabled-bg: var(--yrs-primary-shaded-20);
}

.btn-close {
    margin: 0 !important;
}