:root {
    --yrs-primary: #9a2e26;
    --yrs-primary-rgb: 154, 46, 38;
    --yrs-primary-shaded-10: #8b2922;
    --yrs-primary-shaded-20: #7b251e;
    --primary-color: var(--yrs-primary) !important;
    --highlight-bg: var(--red-300) !important;
}

body {
    margin: 0;
    background-color: var(--gray-200) !important;
    line-height: normal !important;
}

a {
    text-decoration: none;
    color: inherit;
}

.d-mobile {
    display: none;
}

@media screen and (min-width: 961px) {
    .d-mobile {
        display: block;
    }
}

.hover-black {
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: black !important;
        color: white !important;
    }
}

.pac-container {
    z-index: 10000 !important;
}

.navbar {
    flex-grow: 1;
}

.navbar ul {
    margin: 0 !important;
}

.p-breadcrumb {
    background: none;
    color: white;
}

.p-breadcrumb .p-breadcrumb-list li.p-menuitem-separator {
    color: inherit;
}

.p-breadcrumb a:visited {
    color: var(--bs-nav-link-color) !important;
}

.p-tabmenu-nav {
    background: none !important;
    border: none;
}

.p-tabmenu .p-menuitem-link {
    background: none;
}

.p-tabmenu {
    a {
        margin: 0;
    }
}

.nav-scroller .nav {
    --bs-nav-link-color: rgba(255, 255, 255, 0.55) !important;
}

button, .p-button-label {
    font-weight: 900;
}

.content-card {
    border-radius: .25rem;
    background-color: white !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

aside li.nav-item a.nav-link i,
aside div.dropdown-menu a.dropdown-item i,
header.top div ul.navbar-nav li.nav-item a.nav-link i,
header.top div.dropdown-menu a.dropdown-item i {
    margin-right: 7px;
    font-size: 16px;
}

/* Remove buttons from input fields with no-spin class */
input[type="number"].no-spin::-webkit-inner-spin-button,
input[type="number"].no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"].no-spin {
    -moz-appearance: textfield;
}

/* VUE DATEPICKER STYLING */

.dp__main, .dp__menu, .dp__overlay {
    font-family: "Open Sans", sans-serif !important;
}

.dp__theme_light, .dp__theme_dark {
    --dp-primary-color: var(--yrs-primary) !important;
    --dp-primary-disabled-color: var(--yrs-primary-shaded-20) !important;
    --dp-border-color: var(--yrs-primary) !important;
}

.dp__menu, .dp__cell_inner, .dp__action_button {
    border-radius: 0 !important;
}

/* VUE TELEPHONE INPUT STYLING */
.vue-tel-input {
    border-radius: 6px !important;
    border: 1px solid #ced4da !important;
    box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 1px 2px 0 rgba(18, 18, 23, 0.05);

    &:focus-within {
        box-shadow: none !important;
        border-color: #94a3b8 !important;
        outline: 1px solid var(--p-focus-ring-color);
        outline-offset: -1px;
    }
}

.vti__dropdown-list {
    z-index: 10 !important;
}

.vti__search_box {
    border: 1px solid #ced4da !important;
    border-radius: 0 !important;
    width: 100% !important;
    margin: 0 !important;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s !important;
    padding: 0.5rem 0.5rem !important;
}

.vti__input {
    padding: 0.5rem 0.75rem !important;
    border-radius: 6px !important;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    height: 40px;
}

.yrs-bg-primary {
    background-color: var(--yrs-primary);
}

label {
    font-weight: bold;
}

.navbar .dropdown-menu {
    z-index: 1050;
    position: absolute;
}

.navbar {
    position: relative;
}

.navbar-overlap, .p-menubar {
    background-color: var(--yrs-primary-shaded-10) !important;
}

.p-avatar img {
    object-fit: cover;
}

/* lg sized screen breakpoint 992px (starting from 992) */
@media only screen and (max-width: 991px) {
    navbar-overlap:after {
        height: 0 !important;
    }
}

@media only screen and (min-width: 992px) {
    .navbar-overlap:after {
        content: "" !important;
        height: 13rem !important;
        background: inherit;
        z-index: -1;
        box-shadow: inherit;
        top: 100%;
        left: 0;
        right: 0;
        position: absolute;
    }
}

@media only screen and (max-width: 992px) {
    .p-timeline-event-opposite {
        display: none;
    }
}

.p-icon-field > .p-input-icon {
    margin-top: -0.7rem !important;
}

.p-password > .p-input-icon {
    margin-top: -0.5rem !important;
}

.p-dataview-content {
    background: none;
}